.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-section-container {
  background-color: #161412;
  height: 300px;

  .img-wrapper {
    height: 100%;
    background-image: url('../src/assets/images/statue-1.jpg');
    background-position: center;
    background-size: cover;
  }

  p, a, h1 {
    color: var(--bs-gray-100);
  }
}

.btns-wrapper {
  display: flex;
  gap: 1em;
}

p, a {
  color: var(--bs-gray-400);
}
