@font-face {
  font-family: 'Forum';
  src: url(./assets/fonts/Forum/Forum-Regular.ttf);
}

.hero-section-container {
  background-color: #161412;
  height: 300px;

  .img-wrapper {
    height: 100%;
    background-image: url('../src/assets/images/statue-1.jpg');
    background-position: center;
    background-size: cover;
  }

  p, a, h1 {
    color: var(--bs-gray-100);
  }
}

.btns-wrapper {
  display: flex;
  gap: 1em;
}

p, a, h1 {
  color: var(--bs-gray-400);
  font-family: 'Forum';
}
