@import "variables";

body {
  background-color: $body-bg;
}


/* Dashboard */
.credit-card-container {
  background: rgb(50,88,242);
  background: linear-gradient(90deg, rgba(50,88,242,1) 0%, rgba(70,123,245,1) 47%, rgba(105,164,248,1) 100%);

  p {
    margin-bottom: 0.25rem;
  }
}

.mini-stats-wid{
    .mini-stat-icon{
        overflow: hidden;
        position: relative;
        &:before, &:after{
            content: "";
            position: absolute;
            width: 8px;
            height: 54px;
            background-color: rgba($white,.1);
            left: 16px;
            transform: rotate(32deg);
            top: -5px;
            transition: all 0.4s;
        }

        &::after{
            left: -12px;
            width: 12px;
            transition: all 0.2s;
        }
    }

    &:hover{
        .mini-stat-icon{
            &::after{
                left: 60px;
            }
        }
    }
}

.icon-container {
  align-items: center;
  background-color: $primary;
  color: $white;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.icon-sm {
  height: 3rem;
  width: 3rem;
}

.ad-container {
  background-image: url(../images/1876.jpg);
  background-size: cover;
  border-radius: 0.75rem;
  overflow: hidden;

  .image-cover {
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to top left, #141727, #3a416f);
    width: 100%;
    height: 100%;
  }
}

.verti-timeline {
  border-left: 2px solid #f6f6f6;
  margin: 0 10px;

  .event-list {
    position: relative;
    padding: 0px 0px 40px 30px;

    .event-timeline-icon {
      position: absolute;
      left: -9px;
      top: 0px;
      z-index: 9;
      font-size: 16px;
      padding: 1px;
      background-color: $white;
    }
  }
}
